#include ".config/Xresources/baskerville-ivorylight"

URxvt.scrollBar: False
URxvt.font: xft:DejaVu\ Sans\ Mono\ for\ Powerline:size=10
URxvt.boldFont: 
URxvt.intensityStyles: True
URxvt.saveLines: 10000
